In [1]:
from sklearn import cross_validation, datasets, linear_model, metrics

import numpy as np

In [2]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [3]:
import pandas as pd

In [4]:
data=pd.read_csv('water.txt',sep="\t")

In [5]:
data.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [27]:
meandata,stddata=data.mortality.mean(),data.mortality.std()
print meandata,stddata

1524.14754098 187.668753931

In [32]:


from scipy import stats
import numpy as np
import math

alpha = 1 - 0.95
z = abs(stats.norm.ppf(alpha/2))
z

1.959963984540054

In [33]:
data.shape

(61, 4)

In [42]:

sigma = data.mortality.std(ddof=1)
n = 60
SE = sigma/math.sqrt(n)
SE

24.227931952667703

In [43]:

xbar = data.mortality.mean()
ci_low = xbar - z * SE # ci - сокращение от confidence interval
ci_hi = xbar + z * SE
(ci_low, ci_hi)

(1476.6616669364907, 1571.6334150307225)